* {
    padding: 0px; margin: 0px;
}

.header{
    background-color: black;
    height: 120px;
    width: 100%;
}

.title{
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.subs{
    color: white;
    font-size: 22px;
    text-align: center;
}

.badan{
    padding: 33px;
    width: 45%;
    margin: 0% auto;
}

h3{
    width: 45%;
    margin: 0% auto;
    font-size: 20px;
}

.done{
    text-decoration: line-through;
}

.selesai{
    text-decoration: line-through;
}

#list_todo{
    padding: 23px;
}

