{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <body>
        <section>
            <div class="header">
                <h1 class="title">Project</h1>
                <h2 class="subs">To - Do List</h2>
                {% if request.user.username %}
                    <div class="hi_user">
                        <h3> Haii! {{request.user.username}} </h3>
                    </div>
                {% endif %}
            </div>
        </section>
        {% if submitted %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        <br>
        <section>
            <div class="badan">
                <form action="" class="form-control" method="POST">
                    <h3>Add Regular Todo List</h3><br>
                    {% csrf_token %}
                    {{ regular_form.task }}<br>
                    <label for="{{ regular_form.frequency.id_for_label }}">Type:</label>
                    <select class="form-select" name="{{ regular_form.frequency.name }}">
                        {% for frequency, frequency_label in regular_form.fields.frequency.choices %}
                            <option value="{{ frequency }}" {% if frequency == regular_form.instance.frequency %}selected{% endif %}>{{ frequency_label }}</option>
                        {% endfor %}
                    </select><br>
                    <div class="btn-pos">
                        <button type="submit" class="btn btn-primary md">Add</button>
                    </div>
                </form>

                <br>
                <form action="" class="form-control" method="POST">
                    <h3>Add Urgent Todo List</h3><br>
                    {% csrf_token %}
                    {{ urgent_form.task }}<br>
                    <label for="{{ urgent_form.due_date.id_for_label }}">Deadline:</label>
                    {{ urgent_form.due_date }}<br>
                    <div class="btn-pos">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
            <br><br>
            <div class="show_result">
                <div class="result_card_regular">
                    <div class="card">
                        <div class="card-body">
                            <div class="mid-element">
                                <h2 class="card-title">Regular Todo List</h2>
                            </div>
                            <br>
                            {% for frequency, tasks in regular_task_group.items %}
                                <h4 class="card-text"> {{ frequency }} </h4>
                                {% for regular in tasks %}
                                    <div class="task-container">
                                        <span class="task-text"> {{ regular.task }} </span>
                                        <input type="checkbox" class="completed-form" {% if regular.completed %}checked{% endif %}></input>
                                    </div>
                                {% endfor %}
                                <br>
                            {% endfor %}
                            <div class="mid-element">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="result_card_urgent">
                    <div class="card">
                        <div class="card-size">
                            <div class="mid-element">
                                <h2 class="card-title">Important Todo List</h2>
                            </div>
                            <br>
                            {% for important in important_task %}
                                <div class="task-container">
                                    <div class="task-info">
                                        <div class="title-container">
                                            <h4 class="task-title">Task</h4>
                                            <h4 class="task-title">Deadline</h4>
                                        </div>
                                        <div class="content-container">
                                            <span class="task-urgent">{{ important.task }}</span>
                                            <span class="task-urgent">{{ important.due_date }}</span>
                                            <span class="task-urgent">timerr</span>
                                            <input type="checkbox" class="completed-form" {% if important.completed %}checked{% endif %}></input>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}<br>
                            <div class="mid-element">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>

        <script src="{% static 'css/javascript/isi.js' %}"></script>

        <style>
            .header{
                background-color: black;
                height: 120px;
                width: 100%;
            }

            .title{
                color: yellow;
                font-size: 30px;
                font-weight: bold;
                padding: 12px;
                text-align: center;
            }

            .subs{
                color: white;
                font-size: 22px;
                text-align: center;
            }

            .badan{
                margin-left: 75px;
                width: 85%;
                display: flex;
            }

            .form-control {
                margin-right: 50px;
            }
            

            .result_card_regular {
                margin-left: 75px;
                width: 35%;
                display: flex;
            }

            .result_card_urgent {
                margin-left: 75px;
                width: 85%;
                display: flex;
            }

            .card {
                margin-right: 50px;
                width: 90%;
            }

            .hi_user {
                color: white;
                padding-top: 20px;
                transform: translateX(-160px) translateY(-80px);
                font-weight: 400;
            }

            h3{
                width: 45%;
                margin: 0% auto;
                font-size: 20px;
            }

            .done{
                text-decoration: line-through;
            }

            .selesai{
                text-decoration: line-through;
            }

            #list_todo{
                padding: 23px;
            }

            .btn-pos {
                text-align: center;
            }

            .mid-element {
                text-align: center;
            }

            .task-container {
                display: flex;
                margin-bottom: 5px;
            }

            .task-text {
                flex-grow: 1;
                margin-right: 10px;
            }

            .completed-form {
                border-radius: 50px;
                margin-right: 30px;
                width: 20px;
                height: 20px;
                display: inline-block;
            }

            .title-container {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }

            .content-container {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }

            .task-title {
                margin-right: 105px;
                margin-left: 20px;
            }

            .task-urgent {
                border-radius: 50px;
                margin-right: 80px;
                margin-left: 20px;
            }
        </style>
    </body>
{% endblock %}