{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <body>
        <section>
            <div class="header">
                <h1 class="title">Project</h1>
                <h2 class="subs">To - Do List</h2>
            </div>
        </section>
    
        <br><br>
        {% csrf_token %}

        {% if request.user.username %}
            <h2> Daftar To-Do List kamu {{request.user.username}} </h2>
            <br>
            <table class="table table-hover mytodo">
                <thead>
                    <tr class="table-dark">
                        <th>My List</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ul id="list_sudahSave">
                        {% for task in task %}
                            <tr>
                                <td>{{ task.task }}</td>
                                <!-- Untuk tombol yg belum memiliki elemen / belum di save -->
                                <td> <a href="{% url 'delete_todo' task.id %}" class="link-delete text-danger"> <button class="btn btn-outline-danger ukuran">Hapus</button></a> </td>
                            </tr>
                        {% endfor %}
                    </ul>
                </tbody>
            </table>
            <br><br>
            <div class="add_list">
                <a href="{% url 'todo_list' %}" class="btn btn-outline-success">Tambah List</a>
            </div>
            <br><br>
        {% endif %}
        <script src="{% static 'css/javascript/isi.js' %}"></script>

        <style>
            .header{
                background-color: black;
                height: 120px;
                width: 100%;
            }

            .title{
                color: yellow;
                font-size: 30px;
                font-weight: bold;
                padding: 12px;
                text-align: center;
            }

            .subs{
                color: white;
                font-size: 22px;
                text-align: center;
            }

    
            h2{
                width: 45%;
                margin: 0% auto;
                font-size: 20px;
                text-align: center;
            }
    
            #list_sudahSave {
                font-size: 20px;
                padding: 12px;
                text-align: justify;
                margin-left: 500px;
                margin-right: 480px;
            }

            .task_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .ukuran {
                width: 70px;
                height: 35px;
                margin-bottom: 8px;
            }

            .add_list {
                margin-left: 500px;
            }

            .mytodo {
                width: 400px;
                text-align: center;
                margin-left: 425px;
            }
        </style>
    </body>
{% endblock %}